* {
    margin: 0 auto;
    box-sizing: border-box;
    font-size: 20px;
}

body {
    background-image: url(../assets/background.jpg);
    background-color: rgb(78, 8, 8);
}

.app {
    width: 100%;
    background-size: cover;
    color: #ffff;
    margin: 50px 0;
}

[class*="container"] {
    max-width: 390px;
    margin: 0 auto;
    padding: 0 15px;
}

.appButtons {
    margin-top: 20px;
}
