.appTitle,
.infoMessage {
    text-align: center;
}

.appTitle {
    font-size: 60px;
}

.infoMessage {
    font-weight: bold;
    color: black;
    background-color: white;
    border-radius: 5px;
}
